<html>
<head>
	<title>Face Name Matching Game</title>
	<script>
		function correct() {
			alert('Correct');
		}
		function wrong() {
			alert('Wrong');
		}
	</script>
</head>
<body>
	<% if (user) { %>
	<p>
		<strong>User</strong>: <%= user.local.email %>
		<a href="/logout"><button>Logout</button></a>
	</p>
	<% }  else { %>
	<p>
		<a href="/login"><button>Login</button></a>
		or 
		<a href="/signup"><button>Signup</button></a>
	</p>
	<% } %>
	<h1>Face Name Matching Game!</h1>
	<img src="<%= image1 %>" style="height:300px; width:300px" />
	<a href="" onclick="correct();"><h3><%= name1 %></h3></a>
	<a href="" onclick="wrong();"><h3><%= name2 %></h3></a>
</body>
</html>